*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body, html{
    height: 100%;
    min-height: 100%;
}
.page{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #19a2dc,#9424d0, #f8ac20);
    padding: 10px;
}
.app{
    margin: 100px auto;
    padding: 40px 30px 60px;
    border-radius: 20px;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 40vw;
    background-color: #fff;
}
.app h1{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 0px;
    justify-content: center;
}
.app h1 img{
    width: 50px;
    margin-left: 10px;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #e1e1e1ab;
    border-radius: 30px;
    padding-left: 0px;
    margin-bottom: 40px;
    max-width: 80vw;
}
input{
    padding-left: 30px;
    font-weight: 14px;
    flex: 1;
    border: 30px;
    outline: none;
    background: transparent;
}
.row button{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #ffc0cb;
    border-radius: 30px;
}
ul li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-style: 17px;
    padding: 12px 40px 22px;
    user-select: none;
    cursor: pointer;
    position: relative;
    white-space: normal;
    background: #f1f1f1;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 7px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li cross{
    position: absolute;
    right: 0;
    top:6px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: red;
}
ul li cross:hover{
    background: #80808058;
    border-radius: 30px;
}
ul li button{
    position: absolute;
    padding: 5px 10px;
    border: none;
    background:#e1e1e1ab;
    border-radius: 30px;
    top: 8px;
    right: 45px;
}
ul li button:hover{
    background: #80808058;
}
ul li input{
    display: inline-block;
    border: none;
    outline: none;
    background: transparent;
    font-size: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: calc(40vw - 100px);
}
ul li span.task{
    flex: 1;
    white-space: normal;
    overflow: visible;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: calc(40vw - 220px);
    margin-right: 80px;
}
.due-date{
    padding: 4px;
    position: absolute;
    top: 40px;
    right: 6px;
    width: 100px;
    font-size: 12px;
}